#story .about-us-content-padding {
  padding-top: 80px;
}
.team-section {
  background-color: #f5f1e8;
}

.about-teams-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

#team-parent {
  background-color: #f5f1e8;
  padding-top: 100px;
}

#team-parent .team-padding {
}

.about-team-title {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 48px;
}

.story-container-mobile {
  background-color: #f5f1e8;
}
